* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 17.6px;
}

header {
  height: 350px;
  background-color: #333;
  background-image: url("./../imgs/bgFirst-page.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 100px;
  text-align: center;
  color: #fff;
  font-size: 17.6px;
}

.button {
  color: #ffffff;
  background-color: #333333;
  display: inline-block;
  margin: 8.8px 0px;
  padding: 17.6px 35.2px;
  font-size: 17.6px;
  border: 1px solid #666;
  text-decoration: none;
}

.button:hover {
  background: #eaeaea;
  color: #333;
}

h2 {
  padding: 1em 0;
  padding-bottom: 2em;
}

#offers {
  background: #333;
  padding: 2em 1em 1em;
}

.content-wrapper {
  display: inline-block;
  width: 250px;
  background: #fff;
  margin: 0 5px 5px;
}

img {
  display: inline-block;
  width: 250px;
}

/* img {
  width: 100%;
  height: auto;
  display: inline-block;
} */

.content-wrapper {
  display: inline-block;
}

.content {
  font-size: 0;
}

.child1,
.child2 {
  display: inline-block;
  width: 50%;
  font-size: 17.6px;
  background: #2690d4;
  color: #fff;
  padding: 35.2px;
}

.child2 {
  background: #333;
}

.contacts-about a {
  color: #fff;
  text-decoration: none;
}

/*Footer*/

.links {
  background-color: #000000;
  color: #fff;
  font-size: 0;
}

.links-child1,
.links-child2 {
  display: inline-block;
  width: calc(100% / 2);
  font-size: 17.6px;
  padding: 2em;
}

.links-child2 a {
  color: #2690d4;
  text-decoration: none;
}
