* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 17.6px;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  background-image: url("./../imgs/bgFirst-page.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: #fff;
  height: 450px;
  margin: 0 auto;
}

header h1,
p {
  text-align: center;
  padding: 0 22px 35px;
  max-width: 900px;
}

.button {
  color: #ffffff;
  background-color: #333333;
  padding: 17.6px 35.2px;
  border: 1px solid #666;
}

.button:hover {
  background: #eaeaea;
  color: #333;
}

#offers {
  background: #333;
  padding: 35.2px 17.6px 17.6px;
}

.development {
  padding: 0 24px;
}

.development h2 {
  padding: 26.4px 0;
}

.development p {
  display: inline-block;
  max-width: 400px;
  padding: 0 0 35.2px;
}

#offers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content-wrapper {
  width: 272.8px;
  background: #fff;
  margin: 0 10px 20px;
}

img {
  width: 272.8px;
}

.inside-block {
  padding: 26.4px;
}

.content-wrapper h3 {
  padding: 20.59px 0 20.59px;
}

.content-wrapper p {
  padding: 17.6px 0 17.6px;
}

.responsibility {
  display: inline-block;
  padding: 35.2px;
}

.responsibility h2 {
  padding: 26.4px;
}

.responsibility p {
  max-width: 950px;
  padding: 17.6px;
}

.contacts-about {
  font-size: 0;
  display: flex;
  justify-content: center;
}

.child1,
.child2 {
  width: 50%;
  font-size: 17.6px;
  background: #2690d4;
  color: #fff;
  padding: 49px 0 49px;
}

.child2 {
  background: #333;
}

.child1 p,
.contacts-about a,
.child2 p {
  padding: 17.6px;
  color: #fff;
}

.child1 h2,
.child2 h2 {
  padding: 26.4px;
}

/*Footer*/

.links {
  background-color: #000000;
  color: #fff;
  font-size: 0;
}

.links-child1,
.links-child2 {
  display: inline-block;
  width: calc(100% / 2);
  font-size: 17.6px;
  padding: 35.2px;
}

.links-child2 a {
  color: #2690d4;
  text-decoration: none;
}
